.cover {
   background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../images/cover-trains.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    margin-bottom: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 92px;
}

.cover:hover {
    background-image: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(../../images/cover-trains.jpg);
}

@media (max-width: 1279px) {
    .cover {
        min-height: 640px;
    }
}

@media (max-width: 1023px) {
    .cover {
        min-height: 480px;
        margin-top: 90px;
    }
}

@media (max-width: 767px) {
    .cover {
        min-height: 200px;
        margin-top: 66px;
        margin-bottom: 64px;
    }
}