.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    margin-bottom: 24px;
    height: 18px;
}
@media screen and (max-width:767px) {
    .footer{
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }
}